[Unit]
Description=NauAI Flask Backend
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/AI_Engineer_course
Environment="PATH=/home/ubuntu/AI_Engineer_course/nau_ai/bin"
ExecStart=/home/ubuntu/AI_Engineer_course/nau_ai/bin/python app.py

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target